{% extends "base.html.twig"  %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('css/read-supervisor.css') }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
            {{ form_start(form) }}
                <table class="table">
                    <tr class="table-header-fixed">
                        {% for i in 0..2 %}
                            <th>Consumer name</th>
                            <th>Numprocs</th>
                            <th>Autostart</th>
                        {% endfor %}
                    </tr>
                    {% for consumers in form.consumers|batch(3) %}
                        <tr>
                            {% for consumer in consumers %}
                                <td>
                                    {{ consumer.name.vars.value }}
                                </td>
                                <td>
                                    {{ form_row(consumer.numprocs) }}
                                </td>
                                <td>
                                    {{ form_row(consumer.autostart) }}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
{#            {{ form_row(form.save) }}#}
            {{ form_end(form) }}
{% endblock %}
