{% extends "base.html.twig"  %}

{% block stylesheets %}
    {{ parent() }}

    <style>
        .number-class {
            width: 40px;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row" style="font-size: 12px">
            {{ form_start(form) }}
                {% for consumer in form.consumers %}
{#                    {% if (loop.index is even) %}#}
{#                    {% endif %}#}
{#                            <div class="col-sm-1">#}

{#                            </div>#}
{#                            {{ form }}#}

{#                    <div class="col-sm-6">#}
                        {{ form_row(consumer.numprocs) }}
{#                    </div>#}

{#                    {{ consumer.name.vars.value }}#}
                    {{ form_label(consumer.numprocs, 'numprocs') }}

                    {#  {{ form_label(consumer.numprocs, consumer.name.vars.value) }}#}
{##}
{#                    <div class="col-sm-6">#}
                         {{ form_row(consumer.autostart) }}
{#                    </div>#}

{#                    {% if (loop.index is even) %}#}
{#                    {% endif %}#}
                {% endfor %}

                {{ form_row(form.save) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
